<article class = 'post'>
    <div class = 'title'>
        <a href = '{{post_text}}'>{{title}}</a>
        <span>({{post_text}})</span>
    </div>
    <div class = 'meta'>
        {{like_count}} {{format_plural "point" like_count}} by {{member.username}} on
        {{format_date created_at}}
        |
        {{!-- somethings wrong with this-it doesn't redirect to the comments handlebars --}}
        <a href ="/api/comments/"> {{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>
</article>
