<article class = 'post'>
    <div class = 'title'>
        <a href = '{{post_text}}'>{{title}}test</a>
        <span>({{post_text}})</span>
    </div>
    <div class = 'meta'>
        {{like_count}} {{format_plural "point" like_count}} by {{member.username}} on
        {{format_date created_at}}
        |
        {{!-- somethings wrong with this-it doesn't redirect to the comments handlebars --}}
        <a href = '/post/{{id}}'>{{comments.length}} {{format_plural "comment" comments.length}}test</a>
    </div>
</article>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/likes.js"></script>
<script src="/javascript/add-post.js"></script>
{{/if}}

{{#if loggedIn}}
        <a href="comments">yourpage</a>
{{/if}}