<article class = 'post'>
    <div class = 'title'>
        <span>{{title}}</span>
        <br>
        <span>{{post_message}}</span>
    </div>
    <div class = 'meta'>
        {{like_count}} {{format_plural "post" like_count}} by {{member.username}} on
        {{format_date created_at}}
        |
        {{!-- DO NOT ADD 'post' IN FRONT OF 'id' --}}
        <a href = '/post/{{id}}'>{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>
